<!DOCTYPE html>

<html>
    <head>
    #{head /}
    </head>
    <body>
        
      #{menu user:user /}

    <div class="container" style="margin-top: 40px">
      #{if request.actionMethod != 'index'}
            <div id="crudBreadcrumb">
                #{crud.navigation /}
            </div>
      #{/if}
      #{if flash.success}
            <div class="alert alert-success">
                ${flash.success}
            </div>
      #{/if}
      #{if flash.error || error}
            <div class="alert alert-error">
                ${error ?: flash.error}
            </div>
      #{/if}
      #{doLayout /}
      
      <hr>

      #{footer /}

    </div> <!-- /container -->
    
    </body>
</html>
