#{extends 'main.html' /} #{set title:'Home' /}

<div class="row" style="margin-top: 20px">

	

	<div class="span9">
		#{bbar docId: doc.id, text: doc.text, tags:tags /}				
	</div>
	
	<div class="span3">
		<span id="selectedWord">word</span> 
		<a class="btn btn-mini btn-primary"><i id="scrollToWord" title="Позиционирај на тековен збор" class="icon-arrow-down icon-white"></i></a>
		<hr/>
		<ul id="preferedTags">
		</ul>
		<hr/>
		<div id="tagInfo" class="span3" style="display: none">
			<span class="label label-info" id="tagName">Тип</span>
			<span class="label label-info" id="tagCreator">Уредник</span>
			<a class="btn btn-mini btn-primary" title="Избриши" ><i id="tagRemove" class="icon-remove icon-white"></i></a>
		</div>
	</div>

</div>
