#{extends 'main.html' /} #{set title:'Home' /}

<div class="row" style="margin-top: 20px">
<form class="form-horizontal" action="@{Dokuments.search()}" method="post">
	<input type="hidden" name="doc.id" value="${doc.id}"/>
	<div class="control-group">
		<label class="control-label" for="inputName">First Word</label>
		<div class="controls">
			#{wordfilter varName:"first", showField:"true"  /}
			<button onclick="addFilter('#second',this)" type="button" class="btn" id="firstadd">Add</button>
		</div>
	</div>
	
	<div class="control-group" id="second">
		<label class="control-label" for="inputName">Second</label>
		<div class="controls">
			<div class="controls">
				#{wordfilter varName:"firstSeparator" /}
			</div>
			#{wordfilter varName:"second", showField:"true" /}
			<button onclick="addFilter('#third',this,'#secondremove')" type="button" class="btn" id="secondadd">Add</button>
			<button onclick="removeFilter('#second','#firstadd')" type="button" class="btn" id="secondremove">Remove</button>
		</div>
	</div>
	<div class="control-group" id="third">
		<label class="control-label" for="inputName">Third</label>
		<div class="controls">
			<div class="controls">
				#{wordfilter varName:"secondSeparator" /}
			</div>
			#{wordfilter varName:"third", showField:"true"  /}
			<button onclick="removeFilter('#third','#secondadd','#secondremove')" type="button" class="btn">Remove</button>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Search</button>
		</div>
	</div>
</form>
</div>
<script type="text/javascript">
	function addFilter(id,btn,rmBtn) {
		$(btn).hide();
		$(rmBtn).hide();
		$(id).show();	
		$(id+"core").removeAttr('disabled');
		return false;
	}
	function removeFilter(id,btn, btn1) {
		$(btn).show();
		$(btn1).show();
		$(id+"core").attr('disabled', 'disabled');
		$(id).hide();
		return false;
	}
	
	$("#secondcore").attr('disabled', 'disabled');
	$("#second").hide();
	$("#thirdcore").attr('disabled', 'disabled');
	$("#third").hide();
</script>
