<script type="text/javascript">
	var dokumentId=${_docId};
	var delimiter=" ";
	var valid="éабвгдѓежзѕијклљмнњопрстќуфхцчџшАБВГДЃЕЖЗЅИЈКЛЉМНЊОПРСТЌУФХЦЧЏШ1234567890'`";
	
	//first, checks if it isn't implemented yet
	if (!String.prototype.format) {
	  String.prototype.format = function() {
	    var args = arguments;
	    return this.replace(/{(\d+)}/g, function(match, number) { 
	      return typeof args[number] != 'undefined'
	        ? args[number]
	        : match
	      ;
	    });
	  };
	}
	
	state={};
	
	function taggedSorter(a, b) {
		return parseInt(a.dataset["start"],10) > parseInt(b.dataset["start"],10)? 1 : -1;
	}
	
	function getAnotate(tagId, tagColor, tagName) {
		var annotate = function(){

			var pre= document.getElementById("source");
			var range=window.getSelection().getRangeAt(0);
			if(range.commonAncestorContainer.parentElement!=pre) {
				initSelection();
				return;
			}
			var wholeText=range.commonAncestorContainer.data;
			var start=range.startOffset;
			var end=range.endOffset-1;
			while(valid.indexOf(wholeText[start])<0) {
				start++;
			}
			while(valid.indexOf(wholeText[end])<0) {
				end--;
			}
			end++;
			
			$.post('/dokuments/add', {
					taggedWord : {
						start : start,
						end : end,
						"dokument.id" : dokumentId,
						"tag.id" : tagId
					}							
				}, function(data) {
					
					var taggedWord=createTaggedWord(data);
					$("#result").append(taggedWord);
					var res=$("div#result span").sort(taggedSorter);
					$("#result").html(res);
					state.tags.push(data);
					state.tags.sort(sortTags);
				});
			
			nextWord(range);
		};
		return annotate;
	}
	
	function createTaggedWord(tag) {
		el='<span ondblclick="removeTaggedWord(this)" onclick="markClickedWord(this)" style="color:{0};cursor:pointer" '+
		'title="{1}" data-id="{2}" data-start="{3}" data-end="{4}">{5} </span>';
		var wholeText=$("#source").html();
		return el.format(tag.tag.color, tag.tag.name, tag.id, tag.start, tag.end, wholeText.substring(tag.start,tag.end));
	}
	
	function skipWord() {
		var selection=window.getSelection();
		var range=selection.getRangeAt(0);
		nextWord(range);
		
	}
	
	function nextWord(range) {
		var selection=window.getSelection();
			
		var wholeText=range.commonAncestorContainer.textContent;
		var start, end=range.endOffset;
		
		do {
			start=end+1;	
			var word="";
			while(valid.indexOf(wholeText[start])<0) { 
				start++;
			}
			end=start;
			while(valid.indexOf(wholeText[end])>=0) { 
				word+=wholeText[end];
				end++;
			}
			$("#selectedWord").html(word);
		} while(hasIntersectionWithTag(start, end));
		mark(start,end);
	}
	
	function hasIntersectionWithTag(start, end) {
		for(var i=0;i<state.tags.length;i++) {
			var tag=state.tags[i];
			if(start<tag.start) {
				return false;
			}
			if((tag.start<=start && start<=tag.end)||(tag.start<=end && end<=tag.end)) {
				return true;
			}
		}
		
	}
	
	function removeTaggedWord(el){
		$.post('/dokuments/remove', 
				{"word.id" : el.dataset["id"]},
				function(data) {
					el.parentElement.removeChild(el)
					var idx=-1;
					for(var i=0;i<state.tags.length;i++) {
						var tag=state.tags[i];
						if(tag.id==data.id) {
							idx=i;
							break;
						}
					}
					if(idx!=-1) {
						state.tags.splice(idx,1);
					}
					initSelection();
		});		
	}
	
	function markClickedWord(el) {
		mark(el.dataset.start, el.dataset.end)	
		
	}
	
	function mark(start, end) {

		getSuggestion(start,end);		
		var selection=window.getSelection();
		var range=document.createRange();
		var pre= document.getElementById("source");
		range.selectNodeContents(pre);
		range.setStart(pre.firstChild,start);
		range.setEnd(pre.firstChild,end);
		selection.removeAllRanges();
		selection.addRange(range);
		setFocus(pre, start);
		
		return range;
	}
	
	function getSuggestion(start, end) {
		var wholeText=$("#source").html();
		var word=wholeText.substring(start,end);
		$.get('/lexiconcontroller/find?word='+word, 
				function(data) {
					var target=$("#preferedTags");
					target.html("")
					for(var i=0;i<data.length;i++) {
						target.append('<div class="suggested-tag">{0} - {1}</div>'.format(data[i].word, data[i].tag));
					}
		});	
	}
	
	function setFocus(target, start){
		if (start != -1) {
			target.focus();
		        
			var sh = target.scrollHeight; //height in pixel of the textarea (n_rows*line_height)
			var jtarget=jQuery("#"+target.id);
			var line_ht = jtarget.css('line-height').replace('px',''); //height in pixel of each row
			var n_lines = sh/line_ht; // the total amount of lines
			var char_in_line = target.innerText.length / n_lines; // amount of chars for each line
			var height = Math.floor(start/char_in_line); // amount of lines in the textarea
			jtarget.scrollTop(height*line_ht); // scroll to the selected line
		} else {
		        alert('parola '+parola_cercata+' non trovata'); // alert word not found
		}
		
	}
	
	function initSelection(){
		nextWord(mark(0,0));
		
	}
	
	
	
	
	function sortTags(a,b) {
		return parseInt(a.start,10) > parseInt(b.start,10) ? 1 : -1; 
	}
	
	$(document).ready(function(){
		$.post('/dokuments/taggedWords', 
			{"dokument.id" : dokumentId},
			function(data) {
				if(!data) {
					data=[];
				}
				var target=$("#result");
				state.tags=data;
				for(var i=0;i<data.length;i++) {
					var tag=data[i];
					target.append(createTaggedWord(tag));
					
				}
				var res=$("div#result span").sort(taggedSorter);
				state.tags.sort(sortTags);
				$("#result").html(res);
				initSelection();
			});
	});
	
	
	
</script>

<div>
	<div>
		#{list items:_tags, as:'tag'}
			<div class="tag-button" id="new_button" style="background-color:${tag.color};color: #fff; width: 143px" >
				<span class="key-combo">${tag.binding}</span>
				<span class="key-action">${tag.name}</span>
			</div>
			<script type="text/javascript">
					$(document).bind('keydown','${tag.binding}',getAnotate('${tag.id}', 
							'${tag.color}','${tag.name}'));
			</script>
		#{/ list}
		<div class="tag-button" id="new_button" style="width: 143px" >
			<span class="key-combo">&rarr;</span>
			<span class="key-action">Skip word</span>
		</div>
		<script type="text/javascript">
				$(document).bind('keydown','right',skipWord);
		</script>
	</div>
	
	<pre id="source" style="max-height: 600px;overflow: scroll;clear:both" on="initSelection()">
		${_text}
	</pre>
</div>

