<script type="text/javascript">
	var dokumentId=${_docId};
</script>


<script data-main="/kocrud/main-require" 
							src="/public/app/pages/editor.js"></script>
<div>
	<div>
		#{list items:_tags, as:'tag'}
			<div class="tag-button" id="new_button" style="background-color:${tag.color};color: #fff; width: 143px" >
				<span class="key-combo">${tag.binding}</span>
				<span class="key-action">${tag.name}</span>
			</div>
			<script type="text/javascript">
					$(document).bind('keydown','${tag.binding}',getAnotate('${tag.id}', 
							'${tag.color}','${tag.name}'));
			</script>
		#{/ list}
		<div class="tag-button" id="new_button" style="width: 143px" >
			<span class="key-combo">&rarr;</span>
			<span class="key-action">Skip word</span>
		</div>
		<script type="text/javascript">
				$(document).bind('keydown','right',skipWord);
		</script>
	</div>
	
	<div id="source" class="editor" >
	
	</div>
	
</div>

